<ion-view view-title="Poule A - Football Masculin">
  <ion-content class="padding">
    <h4>Résultats des matchs</h4>
           
        
  <div class="list card">
     
    <div class="item item-divider custom-item"><div class="titreinfo"> Classement Poule A football masculin</div></div>
      <div class="item item-body">
        <table>
        <tr>
          <td><strong>Ecole</strong></td>
          <td><strong>Points</strong></td>
        </tr>
          <tr>
            <td>Centrale Lyon</td>
            <td>12</td>
          
          </tr>
          <tr>
            <td>Mines Paris</td>
            <td>9</td>
          </tr>
          <tr>
            <td>Centrale Paris</td>
            <td>3</td>
          
          </tr>
          <tr>
            <td>Polytechnique</td>
            <td>0</td>
          </tr>
          
        </table>
      </div>
    </div>
    </div>        
  <div class="background">
  <div class="corpsinfo">
    <div class="list card">
      
    <div class="item item-divider custom-item"><div class="titreinfo"> Match Poule A football masculin</div></div>
      <div class="item item-body">
        <div>
          ECL 10 - 0 ECP 
        </div>
      </div>


    


    <div class="list card">
     
    <div class="item item-divider custom-item"><div class="titreinfo"> Match Poule A football masculin    <strong>14h00</strong></div></div>

      <div class="item item-body">
        <div>
          ECL  -   Mines Paris
        </div>
      </div>
    </div>
    </div>

</ion-content>
</ion-view>