<ion-view view-title="Sports">
  <ion-content class="padding">
    <h4>Choisissez un Sport</h4>
    <ion-list>
    <div ng-controller="DashCtrl">
    <input type="text" ng-model="search" placeholder="Chercher un sport"/>
    

      <ion-item ng-repeat="sport in sports | filter:search" class="item-icon-right" href="#/tab/{{sport.poule}}" ng-click>
      
        <i class="icon {{sport.icon}}"></i>
        
          {{sport.title}}
        </a>
    </div>
          
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>

